@tailwind base;
@tailwind components;
@tailwind utilities;
.c-item-center {
  @apply flex justify-center items-center;
}
.c-row-between {
  @apply flex justify-between;
}
.c-col-between {
  @apply flex justify-between flex-col;
}
.c-overflow-text {
  @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
}
html, body, p, h1, h2, h3, h4, h5, h6, section, div, button, input {
  padding: 0;
  margin: 0;
}
button, input {
  border: none;
}
button:focus, input:focus {
  outline: none;
}